@model IEnumerable<xiaotao.Models.xt_area>

@{
  ViewBag.Title = "Index";
}

<p>
  @Html.ActionLink("添加区域", "Create")
</p>

<table class="table">
   <thead>
      <tr>
         <th>
            @Html.DisplayNameFor(model => model.name)
         </th>
         <th>操作</th>
      </tr>
   </thead>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.name)
      </td>
      <td>
        @Html.ActionLink("更新", "Edit", new { id = item.id }) |
        @Html.ActionLink("详情", "Details", new { id = item.id }) |
        @Html.ActionLink("删除", "Delete", new { id = item.id })
      </td>
    </tr>
  }

</table>
