<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>@ViewBag.Title - xiaotao.com</title>
   <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
   <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("校淘网", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
         </div>
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               <li data-id="_stu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     学生管理
                     <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                     <li>
                        @Html.ActionLink("学生列表", "Index", "xt_student")
                     </li>
                     <li>
                        @Html.ActionLink("送货区域", "Index", "xt_area")
                     </li>
                     <li>
                        @Html.ActionLink("学生地址", "Index", "xt_student_address")
                     </li>
                     <li>
                        @Html.ActionLink("实名认证", "Index", "xt_stu_certification")
                     </li>
                     <li>
                        @Html.ActionLink("操作日志", "Index", "xt_student_log")
                     </li>
                  </ul>
               </li>
               <li  data-id="_store" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     店铺管理
                     <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                     <li>
                        @Html.ActionLink("店铺列表", "Index", "xt_store")
                     </li>
                     <li>
                        @Html.ActionLink("商品分类", "Index", "sp_category")
                     </li>
                     <li>
                        @Html.ActionLink("操作日志", "Index", "xt_store_log")
                     </li>
                  </ul>
               </li>
               <li data-id="es_" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     二手管理
                     <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                     <li>
                        @Html.ActionLink("栏目管理", "Index", "es_category")
                     </li>
                     <li>
                        @Html.ActionLink("商品列表", "Index", "es_goods")
                     </li>
                  </ul>
               </li>
               <li data-id="dn_" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     捐赠管理
                     <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                     <li>
                        @Html.ActionLink("栏目管理", "Index", "dn_category")
                     </li>
                     <li>
                        @Html.ActionLink("商品列表", "Index", "dn_goods")
                     </li>
                  </ul>
               </li>
               <li data-id="xt_" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     系统管理
                     <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                     <li data-id="_role">@Html.ActionLink("权限列表", "Index", "xt_role")</li>
                     <li data-id="_admin">@Html.ActionLink("管理员列表", "Index", "xt_admin")</li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <div class="container body-content">
      <div>
         <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href='/admin/@ViewContext.RouteData.Values["controller"]'>@ViewContext.RouteData.Values["controller"].ToString().Substring(3)</a></li>
            <li class="active">@ViewContext.RouteData.Values["action"]</li>
         </ol>
      </div>
      @RenderBody()
      <hr />
      <footer>
         <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
      </footer>
   </div>

   <script src="~/Scripts/jquery-1.10.2.min.js"></script>
   <script src="~/Scripts/bootstrap.min.js"></script>
   <script type="text/javascript">

      // 为当前页面设置Active
      var controller = '@ViewContext.RouteData.Values["controller"]';
      $('.navbar-nav>li').removeClass('active');

      $(".navbar-nav>li[data-id]").each(function (k, v) {
         if (controller.indexOf($(this).attr('data-id')) > -1) {
            $(this).addClass('active');
         }
      });
   </script>
</body>
</html>