@model xiaotao.Models.dn_goods

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dn_goods</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dn_category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dn_category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xt_student.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xt_student.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ori_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ori_img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thumb_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumb_img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_anonymous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_anonymous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_onsale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_onsale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_delete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
