@model IEnumerable<xiaotao.Models.dn_goods>

@{
   ViewBag.Title = "Index";
   ViewBag.Controller = "捐赠物";
   ViewBag.Action = "列表";
}
@section Styles{
   <style>
      .goods-info {
         font-size: 13px;
         color: #999;
         position: relative;
      }

         .goods-info .img {
            position: absolute;
         }

         .goods-info .info {
            margin-left: 50px;
         }

         .goods-info .name {
            display: block;
         }
   </style>
}
<table class="table">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
       <th>
          捐赠人
       </th>
        <th>
            @Html.DisplayNameFor(model => model.is_anonymous)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_onsale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_at)
        </th>
        <th>操作</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <div class="goods-info">
              <div class="img">
                 <img src="~/Uploads/Products/@item.ori_img" width="42" />
              </div>
              <div class="info">
                 <a target="_blank" class="name" href="/es/goods/details/@item.id">@item.name</a>
                 分类：@item.dn_category.name<br />
              </div>
           </div>
        </td>
        <td>
            @item.xt_student.sname
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_anonymous)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_onsale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_at)
        </td>
        <td>
            @Html.ActionLink("详情", "Details", new { id = item.id }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("删除", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>

<nav class="list-pager">
   <ul class="pagination">
      @Html.Raw(ViewData["pager"])
   </ul>
   @ViewBag.PageCount
</nav>