@model IEnumerable<xiaotao.Models.xt_store_log>

@{
   ViewBag.Title = "Index";
   ViewBag.Controller = "店铺操作日志";
   ViewBag.Action = "列表";
}

<table class="table table-hover">
   <tr class="active">
      <th>
         @Html.DisplayNameFor(model => model.xt_store.login_id)
      </th>
      <th>类型</th>
      <th>
         @Html.DisplayNameFor(model => model.create_at)
      </th>
   </tr>

   @foreach (var item in Model)
   {
      <tr>
         <td>
            @Html.DisplayFor(modelItem => item.xt_store.login_id)
         </td>
         <td>
            @switch (item.kind)
            {
               case 1:
                  @Html.Raw("注册");
                  break;
               case 2:
                  @Html.Raw("最后登录");
                  break;
            }
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.create_at)
         </td>
      </tr>
   }

</table>

<nav>
   <ul class="pagination">
      @Html.Raw(ViewData["pager"])
   </ul>
   @ViewBag.PageCount
</nav>