@model IEnumerable<xiaotao.Models.xt_store_log>

@{
   ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   <tr>
      <th>
         @Html.DisplayNameFor(model => model.xt_store.login_id)
      </th>
      <th>类型</th>
      <th>
         @Html.DisplayNameFor(model => model.create_at)
      </th>
      <th></th>
   </tr>

   @foreach (var item in Model)
   {
      <tr>
         <td>
            @Html.DisplayFor(modelItem => item.xt_store.login_id)
         </td>
         <td>
            @switch (item.kind)
            {
               case 1:
                  @Html.Raw("注册");
                  break;
               case 2:
                  @Html.Raw("最后登录");
                  break;
            }
         </td>

         <td>
            @Html.DisplayFor(modelItem => item.create_at)
         </td>

         <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
         </td>


      </tr>
   }

</table>

<nav>
   <ul class="pagination">
      @Html.Raw(ViewData["pager"])
   </ul>
   @ViewBag.PageCount
</nav>