@model xiaotao.Models.es_order

@{
   ViewBag.Title = "Pay";
}

<div class="row panel panel-success">
   <div class="panel-heading">订单支付</div>
   <div class="panel-body">
      <hr />
      @using (Html.BeginForm())
      {
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.id)
         <dl class="dl-horizontal">

            <dt>订单号</dt>
            <dd>
               @Html.DisplayFor(model => model.id)
            </dd>

            <dt>地址</dt>
            <dd>
               @Html.DisplayFor(model => model.addr)
            </dd>

            <dt>物品</dt>
            <dd>
               @Html.DisplayFor(model => model.es_goods.name)
            </dd>

            <dt>总额</dt>
            <dd>
               @Html.DisplayFor(model => model.amount)
            </dd>

            <dt>在线支付</dt>
            <dd>
               <button type="submit" class="btn btn-danger">立即付款</button>
            </dd>
         </dl>
      }
   </div>
</div>
<p>
   @Html.ActionLink("回到订单列表 >", "Index")
</p>
