@model IEnumerable<xiaotao.Models.es_goods>

@{
   ViewBag.Title = "Index";
}

@section Styles{
   <style>
   .prolist {
      list-style: none;
      padding: 0px;
      margin: 0 -15px;
   }

      .prolist li {
         margin-bottom: 30px;
         background: #fff;
      }

      .prolist .pro-img {
         margin: 10px;
      }

      .prolist img {
         width: 100%;
         display: block;
      }

   .caption a {
      display: block;
      height: 36px;
      font-size: 13px;
      overflow: hidden;
   }

   .price {
      font-size: 16px;
      color: #f40;
      font-weight: bold;
      font-family: Arial;
   }

   .sort {
      margin-bottom: 20px;
      border: solid 1px #eee;
      background: #f5f5f5;
   }

      .sort a {
         display: inline-block;
         padding: 10px 15px;
         color: #666;
      }

         .sort a.active {
            border-left: solid 1px #eee;
            border-right: solid 1px #eee;
            background: #fff;
            color: #f40;
         }

         .sort a:first-child {
            border-left: none;
         }
</style>
}

<div class="nav-bar clearfix">
   <div class="sort pull-left">
      <a data-sort="default" href="/es/goodslist/index?sort=default">默认</a>
      <a data-sort="times" href="/es/goodslist/index?sort=times">发布时间</a>
      <a data-sort="price" href="/es/goodslist/index?sort=price">价格</a>
   </div>
   @Html.Raw(ViewData["miniPager"])
</div>

<div class="row glist">
   @foreach (var item in Model)
   {
      <div class="col-md-3 col-sm-4 col-xs-6">
         <div class="thumbnail">
            <a><img class="lazy" src="~/Uploads/Products/@item.ori_img"></a>
            <div class="caption">
               <p><span class="price">¥ @item.price</span></p>
               <a href="/es/goods/details/@item.id">@item.name</a>
            </div>
         </div>
      </div>
   }
</div>

<nav class="list-pager">
   <ul class="pagination">
      @Html.Raw(ViewData["pager"])
   </ul>
   @ViewBag.PageCount
</nav>

@section Scripts{
<script>
      var sort = '@Request.QueryString["sort"]'.toLowerCase();
      var sortLinks = $('.sort>a');
      if (sort == '') {
         sortLinks.eq(0).addClass('active');
      } else {
         $.each(sortLinks, function (k, v) {
            if ($(v).attr('data-sort') == sort) {
               $(v).addClass('active');
            }
         })
      }
</script>
}