@model xiaotao.Models.xt_store

@{
   ViewBag.Title = "Check";
   ViewBag.Controller = "申请核验";
   ViewBag.Action = "详情";
}
<style>
   .imgs img {
      max-width: 100%;
   }
</style>
<div class="panel panel-default">
   <div class="panel-heading">店铺信息</div>
   <div class="panel-body">
      <dl class="dl-horizontal">
         <dt>
            @Html.DisplayNameFor(model => model.login_id)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.login_id)
         </dd>

         <dt>
            @Html.DisplayNameFor(model => model.name)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.name)
         </dd>

         <dt>
            @Html.DisplayNameFor(model => model.license)
         </dt>
         <dd class="imgs">
            <img src="~/Uploads/Stores/@Model.license" alt="证件照" />
            @*<button class="btn btn-danger btn-xs" data-img="~/Uploads/Stores/@Model.license">查看营业执照大图</button>*@
         </dd>

         <dt>
            @Html.DisplayNameFor(model => model.create_at)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.create_at)
         </dd>

      </dl>
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-heading">店主信息</div>
   <div class="panel-body">
      <dl class="dl-horizontal">
         <dt>
            @Html.DisplayNameFor(model => model.shopkeeper)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.shopkeeper)
         </dd>

         <dt>
            @Html.DisplayNameFor(model => model.id_no)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.id_no)
         </dd>

         <dt>
            @Html.DisplayNameFor(model => model.id_cart)
         </dt>
         <dd class="imgs">
            <img src="~/Uploads/Stores/@Model.id_cart" alt="证件照" />
            @*<button class="btn btn-danger btn-xs" data-img="~/Uploads/Stores/@Model.id_cart">查看证件照大图</button>*@
         </dd>

         <dt>
            @Html.DisplayNameFor(model => model.phone)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.phone)
         </dd>

         <dt>
            @Html.DisplayNameFor(model => model.email)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.email)
         </dd>
      </dl>
   </div>
</div>

<div class="panel panel-default">
   <div class="panel-footer">
      @using (Html.BeginForm())
      {
         @Html.AntiForgeryToken()
         <div class="form-inline">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
               <div class="col-md-10 col-md-offset-2" style="width:120px;">
                  @Html.EditorFor(model => model.verify) <span>通过核验</span>
                  @Html.ValidationMessageFor(model => model.verify, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="提交核验" class="btn btn-default" />
               </div>
            </div>
         </div>
      }
   </div>
</div>
<div>
   @Html.ActionLink("返回列表", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
