@model xiaotao.Models.xt_store

@{
   ViewBag.Title = "Details";
   ViewBag.Controller = "店铺";
   ViewBag.Action = "详情";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.login_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login_pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login_pwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.states)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.states)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
