@model xiaotao.Models.sp_order

@{
   ViewBag.Title = "delivery";
   Layout = "~/Areas/Mall/Views/Shared/Store_Layout.cshtml";
}

<div class="panel panel-default">
   <div class="panel-heading">发货单</div>
   @using (Html.BeginForm())
   {
      @Html.AntiForgeryToken()
      @Html.HiddenFor(model => model.id)
      <div class="panel-body">
         <dl class="dl-horizontal">
            <dt>订单号</dt>
            <dd>
               @Html.DisplayFor(model => model.id)
            </dd>

            <dt>Email</dt>
            <dd>
               @Html.DisplayFor(model => model.xt_student.email)
            </dd>

            <dt>收货人</dt>
            <dd>
               @Html.DisplayFor(model => model.receiver)
            </dd>

            <dt>地址</dt>
            <dd>
               @Html.DisplayFor(model => model.addr)
            </dd>

            <dt>电话</dt>
            <dd>
               @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>总额</dt>
            <dd>
               @Html.DisplayFor(model => model.amount)
            </dd>

            <dt>是否支付</dt>
            <dd>
               @Html.DisplayFor(model => model.is_pay)
            </dd>
         </dl>
      </div>
      <div class="panel-footer">
         <button type="submit" class="btn btn-danger">立即发货</button>
      </div>
   }
</div>
<p>
   @Html.ActionLink("返回列表", "Orders")
</p>
