@model IEnumerable<xiaotao.Models.xt_student_address>

@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  <tr>
    <th>区域</th>
    <th>地址</th>
    <th>收货人</th>
    <th>电话</th>
    <th>备注</th>
    <th>是否默认</th>
    <th>操作</th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.xt_area.name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.addr)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.receiver)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.phone)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.remark)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.is_default)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
      </td>
    </tr>
  }

</table>
